/JavaApplication1_teste/nbproject/private/
/PrimeiroPrograma/nbproject/private/
/PrimeiroPrograma/build/
/HoraDoSistema/nbproject/private/
/HoraDoSistema/build/
/IdiomaSistema/nbproject/private/
/IdiomaSistema/build/
/ResolucaoTela/nbproject/private/
/ResolucaoTela/build/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoSwing/dist/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/SomaSwing/nbproject/private/
/ExecutarCMD/nbproject/private/
/ExecutarCMD/build/
/ExecutarCMD/arquivos/projeto-teste/JFileChooserDemo/nbproject/private/
/ExecutarCMD/arquivos/projeto-teste/JFileChooserDemo/build/